
    .map-holder{
      //  outline: 2px solid hotpink;
        height: 300px !important;
        width: 100%;
        max-width: 100% !important;
        overflow: hidden;
    } 
    .maps{
        position: relative !important;
        height: 300px !important;
        width: 100% !important;
        // max-width: 60vw;
      //  border:2px solid red ;
        overflow: hidden;

    }
