.hh-navbar{
    .brand{
        span{
            font-size: 1.75rem;
            line-height: 1.75rem;
            font-weight: 900;
            padding-top: 0.25rem;
            display: inline-flex;
            height: 1.75rem;
        }

    }
}