.property{
    $violet: #6663E8;
    background-color: #f7f7f7;
    // this was the cardStyle
    .card{
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .img-1x{
        outline: 2px solid $violet;        //
    }
    .img-4x{
        height: 100%;
    }

    .row-property{
        flex: 1 1 50% auto; // make the row expand to fill available space
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        outline: 2px solid lime;
    }

    .row-property-detail{
  //      flex: 1 1 50% auto; // make the row expand to fill available space
        display: flex;
        background-color: #fff;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
       // justify-content: stretch;
        outline: 2px solid lime;
        justify-content: space-between;
        padding:4px;
    }

    
      
    .col-property{
        flex: 1 1 25%; // divide the available space equally among four columns
        margin: 1px; //
    }

    .card-property
    {
        flex: 1 1 auto;
    }

    .top-details
    {
        width: 100%;
        flex-direction: row;
        display: flex;
        margin-left: 20px;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .contact-btn
    {
        width: 450px;
        height:80px;
        top:20px;
        margin-right: 50px;
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        border-radius: 12px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $violet ;
    }

    .prop-detail-card-group{
        width:60%;
        padding: 20px;
        // height:400px;
        margin: 40px; 
        flex-direction: row;
        display: flex;
        .prop-detail-card-1{
            width: 40%;
            // height:400px;
            background-color: #dfefe8;
            display: flex;
            padding: 20px;
            flex-direction: column;
        }
        .prop-detail-card-2{
            width:50%;
            display: flex;
            padding: 20px;
            flex-direction: column;
            .prop-detail-card-2-row{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                flex-direction: row;
                min-width: 120px;
                width: 100%;
                .col-property-detail{
                    display: flex;
                    flex-direction: column;
                    // outline: 2px solid lime;
                    justify-content: space-between;
                    padding:4px;
                    width: 48%;
                    min-width: 120px;
                }
            }
        }
        
    }

    .detail-icon{
        margin-right: 5px;
    }
}