.property {
  background-color: #f7f7f7;
}
.property .card {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.property .img-4x {
  height: 100%;
}
.property .row-property {
  flex: 1 1 50% auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.property .row-property-detail {
  display: flex;
  background-color: #fff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  padding: 4px;
}
.property .col-property {
  flex: 1 1 25%;
  margin: 1px;
}
.property .card-property {
  flex: 1 1 auto;
}
.property .top-details {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.property .contact-btn {
  width: 450px;
  height: 80px;
  top: 20px;
  margin-right: 50px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  border-radius: 12px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6663E8;
}
.property .prop-detail-card-group {
  width: 60%;
  margin: 40px;
  background-color: #fff;
  flex-direction: row;
  display: flex;
}
.property .prop-detail-card-group .prop-detail-card-1 {
  width: 40%;
  background-color: #dfefe8;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.property .prop-detail-card-group .prop-detail-card-2 {
  width: 50%;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.property .prop-detail-card-group .prop-detail-card-2 .prop-detail-card-2-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: row;
  min-width: 120px;
  width: 100%;
}
.property .prop-detail-card-group .prop-detail-card-2 .prop-detail-card-2-row .col-property-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  width: 48%;
  min-width: 120px;
}
.property .prop-detail-card-group .prop-detail-card-2 .prop-restriction-detail-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.property .prop-detail-card-group .prop-detail-card-2 .prop-restriction-detail-group .prop-restriction-detail {
  width: 40%;
  background: #d3f8e7;
  height: 20px;
  color: #00b97c;
  font-size: 10px;
  border-radius: 15%;
  text-align: center;
  padding-bottom: 1px;
  flex-basis: 25%;
  margin: 5px;
}
.property .all-cards {
  display: flex;
  flex-direction: row;
}
.property .detail-icon {
  margin-right: 5px;
}
.property .contact-detail-card {
  width: 30%;
  margin-top: 10px;
  flex-direction: column;
  min-width: 80px;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 30%;
  background-color: #1e1e1e;
}
.property .contact-detail-card .contact-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 15px;
  border: 3px solid white;
}
.property .contact-detail-card .direction-column {
  display: flex;
  flex-direction: column;
}
.property .contact-detail-card .direction-row {
  display: flex;
  flex-direction: row;
}
.property .contact-detail-card .user_detail {
  display: flex;
  flex-direction: column;
}
.property .contact-detail-card .input-message {
  height: 100px;
  margin-bottom: 10px;
}
.property .contact-detail-card .message-btn {
  width: 100%;
  height: 80px;
  top: 20px;
  margin-right: 50px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  border-radius: 12px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00b97c;
}/*# sourceMappingURL=property.css.map */