.property{
    $violet: #6663E8;
    background-color: #f7f7f7;
    // this was the cardStyle
    .card{
        border: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .img-1x{
   //     outline: 2px solid $violet;        //
    }
    .img-4x{
        height: 100%;
    }

    .row-property{
        flex: 1 1 50% auto; // make the row expand to fill available space
        display: flex;
        flex-direction: row;
        justify-content: stretch;
      //  outline: 2px solid lime;
    }

    .row-property-detail{
  //      flex: 1 1 50% auto; // make the row expand to fill available space
        display: flex;
        background-color: #fff;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
       // justify-content: stretch;
      //  outline: 2px solid lime;
        justify-content: space-between;
        padding:4px;
    }

    
      
    .col-property{
        flex: 1 1 25%; // divide the available space equally among four columns
        margin: 1px; //
    }

    .card-property
    {
        flex: 1 1 auto;
    }

    .top-details
    {
        width: 100%;
        flex-direction: row;
        display: flex;
        margin-left: 20px;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .contact-btn
    {
        width: 450px;
        height:80px;
        top:20px;
        margin-right: 50px;
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        border-radius: 12px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $violet ;
    }



    .prop-detail-card-group{
        width:60%;
        // height:400px;
        margin: 40px; 
        background-color: #fff;
        flex-direction: row;
        display: flex;
        .prop-detail-card-1{
            width: 40%;
            // height:400px;
            background-color: #dfefe8;
            display: flex;
            padding: 20px;
            flex-direction: column;
        }
        .prop-detail-card-2{
            width:50%;
            display: flex;
            padding: 20px;
            flex-direction: column;
            .prop-detail-card-2-row{
                display: flex;
                justify-content: space-between;
                margin-top: 10px;
                flex-direction: row;
                min-width: 120px;
                width: 100%;
                .col-property-detail{
                    display: flex;
                    flex-direction: column;
                    // outline: 2px solid lime;
                    justify-content: space-between;
                    padding:4px;
                    width: 48%;
                    min-width: 120px;
                }
            }
            .prop-restriction-detail-group{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                .prop-restriction-detail{
                    width: 40%;
                    background: #d3f8e7;
                    height: 20px;
                    color: #00b97c;
                    font-size: 10px;
                    border-radius: 15%;
                    text-align: center;
                    padding-bottom: 1px;
                    flex-basis: 25%;
                    margin: 5px;
                    
                    
            }
        }
        
    }
}

    .all-cards{
        display: flex;
        flex-direction: row;
    }
    .contact-detail-card{
        width: 30%;
        margin-top: 10px;
        flex-direction: column;
        min-width: 80px;
        padding: 20px;
        margin-bottom: 40px;
        margin-top: 40px;
        width: 30%;
        background-color: #1e1e1e;
        .detail-icon{
            margin-right: 5px;
        }
    
        .contact-image{
            height: 70px;
            width: 70px;
            border-radius: 50%;
            margin-right: 15px ;
            border: 3px solid white;
        }
    
        .direction-column{
            display: flex;
            flex-direction: column;
        }
        .direction-row{
            display: flex;
            flex-direction: row;
        }
        .user_detail{
            display: flex;
            flex-direction: column;
        
        }

        .input-message{
            height: 100px;
            margin-bottom: 10px;
        }

        .message-btn
        {
        width: 100%;
        height:80px;
        top:20px;
        margin-right: 50px;
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        border-radius: 12px;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color:  #00b97c;
        }
    }

    
}