.reg-link {
  text-decoration: none;
}

.header {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  background-Color: whitesmoke;
}

.regForm {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 2px;
  background-color: whitesmoke;
}
.regForm form {
  padding: 20px 60px;
  border-radius: 10px;
  background-color: white;
}
.regForm form .row {
  display: flex;
  /* set the parent div to flex container */
  justify-content: space-between;
  /* evenly distribute the child divs along the horizontal axis */
  align-items: center;
  /* vertically center the child divs */
}
.regForm form .fields {
  flex: 1;
  /* set the flex property of the child divs to 1 to evenly distribute the available space */
  margin: 0 5px;
  /* add some spacing between the child divs */
  display: flex;
  flex-direction: column;
}
.regForm form .fields input {
  background-color: #F9F9F9;
  padding: 15px;
  margin: 10px 0px;
  border-radius: 5px;
  border: 0.1px solid lightgray;
}
.regForm form .fields label {
  font-size: 15px;
  font-weight: bold;
}
.regForm form .fields .error {
  padding: 3px;
  color: red;
}
.regForm form .fields .contactNo {
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.regForm form .fields .contactNo #countryCode {
  width: 10%;
  height: 3.5rem;
  border: 0.1px solid lightgray;
  background-color: #F9F9F9;
  margin: 10px 0px;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
}
.regForm form .fields .contactNo #contactNumber {
  border-radius: 0px 5px 5px 0px;
  border-left: none;
  flex-grow: 1;
}
.regForm form .imgBlock {
  margin: 10px 5px;
}
.regForm form .imgBlock p {
  font-size: 15px;
  font-weight: bold;
}
.regForm form .imgBlock .imgRow {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.regForm form .imgBlock .imgRow .uploadImg .imgLabel {
  cursor: pointer;
  border: 1px solid #FFA06A;
  color: #FFA06A;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 25px 0px;
  display: inline-block;
}
.regForm form .imgBlock .imgRow .uploadImg .imgLabel:hover {
  background: #FFA06A;
  color: white;
}
.regForm form .imgBlock .imgRow .uploadImg .imgLabel:active {
  background: #9fa1a0;
  color: #000000;
}
.regForm form .imgBlock .imgRow .uploadImg .imgLabel:invalid + span {
  color: #000000;
}
.regForm form .imgBlock .imgRow .uploadImg .imgLabel:valid + span {
  color: #ffffff;
}
.regForm form .imgBlock .imgRow .uploadImg label.imgLabel input[type=file] {
  position: absolute;
  top: -1000px;
}
.regForm form .imgBlock .imgRow .userImg img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 80px;
  margin-top: 2rem;
}
.regForm form .subDiv {
  display: flex;
  justify-content: center;
}
.regForm form .subDiv button {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 20px 100px;
  background-color: #57CA96;
}
.regForm form .subDiv button:hover {
  background-color: #64fab6;
  font-size: 16px;
}/*# sourceMappingURL=registration.css.map */