@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.App {
  font-family: sans-serif;
}

/* reset css*/
* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding-left: 0;
  margin: 0;
}

/*for mobile view*/
.wrapper-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 25rem));
  grid-gap: 2rem;
  justify-content: center;
  margin: 2rem;
}

/* Global Typography */
body {
  font-family: "DM Sans", sans-serif;
}

h2, .h2 {
  font-size: 48px;
  line-height: 56px;
  font-family: "DM Sans";
  font-weight: 700;
}

h1, .h1 {
  font-size: 64px;
  line-height: 80px;
  font-family: "DM Sans";
  font-weight: 700;
}

h3, .h3 {
  font-size: 28px;
  line-height: 35px;
  font-family: "DM Sans";
  font-weight: 700;
  color: #999999;
}

h4, .h4 {
  font-size: 22px;
  line-height: 30px;
  font-family: "DM Sans";
  font-weight: 200;
}

h5, .h5 {
  font-size: 14px;
  line-height: 25px;
  font-family: "DM Sans";
  font-weight: 700;
}

.h5-gray, h5.gray {
  line-height: 25px;
  font-family: "DM Sans";
  font-weight: 700;
  color: #999999;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 28px;
  font-family: "DM Sans";
  font-weight: 400;
}

.color-gray {
  color: #999999;
}

.color-white {
  color: #ffffff;
}

.color-purple {
  color: #6663e8;
}

/* @aman, i moved your #App to reset.scss */
.property-card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 24rem;
}

.property-img {
  height: 17rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.property-dts {
  margin: 1rem;
  text-align: left;
  /* this is the part that changed the overlap */
  width: 90%;
  padding: 1rem;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: -4rem;
  background-color: whitesmoke;
}

.location {
  line-height: 1.3rem;
}

.specs {
  line-height: 1.8rem;
  margin-bottom: 0.5rem;
}

.rent {
  line-height: 1.3rem;
}

/*for tablet view*/
/*@media screen and (min-width: 500px){
  .wrapper-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

*/
.property {
  background-color: #f7f7f7;
}
.property .card {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.property .img-1x {
  outline: 2px solid #6663E8;
}
.property .img-4x {
  height: 100%;
}
.property .row-property {
  flex: 1 1 50% auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  outline: 2px solid lime;
}
.property .row-property-detail {
  display: flex;
  background-color: #fff;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  outline: 2px solid lime;
  justify-content: space-between;
  padding: 4px;
}
.property .col-property {
  flex: 1 1 25%;
  margin: 1px;
}
.property .card-property {
  flex: 1 1 auto;
}
.property .top-details {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-left: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.property .contact-btn {
  width: 450px;
  height: 80px;
  top: 20px;
  margin-right: 50px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
  border-radius: 12px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6663E8;
}
.property .prop-detail-card-group {
  width: 60%;
  padding: 20px;
  margin: 40px;
  flex-direction: row;
  display: flex;
}
.property .prop-detail-card-group .prop-detail-card-1 {
  width: 40%;
  background-color: #dfefe8;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.property .prop-detail-card-group .prop-detail-card-2 {
  width: 50%;
  display: flex;
  padding: 20px;
  flex-direction: column;
}
.property .prop-detail-card-group .prop-detail-card-2 .prop-detail-card-2-row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-direction: row;
  min-width: 120px;
  width: 100%;
}
.property .prop-detail-card-group .prop-detail-card-2 .prop-detail-card-2-row .col-property-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px;
  width: 48%;
  min-width: 120px;
}
.property .detail-icon {
  margin-right: 5px;
}

.find-me {
  outline: 2px solid hotpink;
}

/*# sourceMappingURL=app.css.map */
