.hh-border-purple{
    border: 1px solid $hh-purple;
}
.hh-border-orange{
    border: 1px solid $hh-orange;
}
.hh-border-green{
    border: 1px solid $hh-green;
}
.hh-border-green-light{
    border: 1px solid $hh-green-light;
}
.hh-border-dark{
    border: 1px solid $hh-dark;
}
.hh-border-light{
    border: 1px solid $hh-light;
}


.hh-bg-purple{
    background-color: $hh-purple;
}
.hh-bg-orange{
    background-color: $hh-orange;
}
.hh-bg-green{
    background-color: $hh-green;
}
.hh-bg-green-light{
    background-color: $hh-green-light;
}
.hh-bg-dark{
    background-color: $hh-dark;
}
.hh-bg-gray{
    background-color: $hh-gray;
}
.hh-bg-gray-dark{
    background-color: $hh-gray-dark;
}
.hh-bg-dark{
    background-color: $hh-dark;
}
.hh-bg-light{
    background-color: $hh-light;
}
