/* Global Typography */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 13px;
  font-weight: 400px;
  color: $hh-gray-dark;
} 
*{
  font-family: 'DM Sans', sans-serif;
}

h1, .h1 {
  font-size: 4rem;
  // line-height: 80px;
  font-family: 'DM Sans';
  font-weight: 700 !important;
}

h2, .h2 {
    font-size: 3rem;
    // line-height: 56px;
    font-family: 'DM Sans';
    font-weight: 700;
  }
  
  
  h3, .h3 {
    font-size: 1.25rem;
    font-family: 'DM Sans';
    font-weight: 400;
    color: $hh-gray;
  }
  
  h4, .h4 {
    font-size: 1rem;
    font-family: 'DM Sans';
    font-weight: 700;
    letter-spacing: 1px;
  //  color: #6663e8;
  //  text-transform: uppercase;
  }
  
  h5, .h5 {
    font-size: 0.875rem;
    font-family: 'DM Sans';
    font-weight: 700;
    // letter-spacing: 0.125rem;
   // color: #6663e8;
    // text-transform: uppercase;
  }
  .h5-gray, h5.gray {
    @extend h5;
    color: #999999;
    text-transform: uppercase;
  }
  
  p {
    font-size: 16px;
    line-height: 28px;
    font-family: 'DM Sans';
    font-weight: 400;  
   }


   a{
    text-decoration: none;
    // color: unset;
    &:hover{
      color: unset !important;
    }
   }

   .hh-uppercase{
    text-transform: uppercase;
    ;letter-spacing: 3px;
   }

.color-gray{
  color: #999999 !important;
}
.color-white{
  color: #ffffff !important;
}

.color-purple{
  color: $hh-purple !important;
}
.color-orange{
  color: $hh-orange !important;
}
.color-green{
  color: $hh-green !important;
}
.color-green-light{
  color: $hh-green-light !important;
}
.color-dark{
  color: $hh-dark !important;
}
.color-light{
  color: $hh-light !important;
}
.color-light{
  color: $hh-red;
}

