$hh-purple: #6663E9;
$hh-orange: #FFA06A;
$hh-green: #57CA96;
$hh-green-light: #E0F6EC;
$hh-dark: #253031;
$hh-gray-dark: #444;
$hh-gray: #666;
$hh-light: #f7f7f7;
$hh-orange: #FFA06A;
$hh-red: #ff6a6a;
$hh-white: #fff
